*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 100px;
    font-weight: 50px;
    font-family:sans-serif ;
}

h1{
    /* text-align: center; */
    display: inline-block;
    position: absolute;
    
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}